.row:not(.green){
    background-color: #056cfa;
    color:white;
    border-bottom: 1px solid white;
    text-align: center;
    font-family:sans-serif;
    font-size: 0.8rem;
    align-content: center;
}

[class*="col"]{
    height:40px;
    border-right: 1px solid white; 
    display:flex;
    align-items: center;
    justify-content: center;  
}

.special{
    background-color: #056cfa;   
    border-bottom: 0px solid white; 
}
.special>[class*="col"]{
    margin:0.5rem;
    border:0px;
}
.special>.col-6:first-child{
    border-right:1px solid white;
}
.green{
    gap:0.5rem;
}

.green>*{
    background-color: rgb(17, 190, 17);
    padding:0rem 1rem;
}

.mt{
    margin-top:2rem;
}
.mt4 {
    margin-top: 4rem;
}

.no-color{
    background-color: transparent;
}
.no-color>*{
    background-color: #056cfa;
}
